#nav{
    visibility: hidden;	
}
#sidebar{
    visibility: hidden;
}
#sidebaritem{
    visibility: hidden;
}
#footer{
    visibility: hidden;
}
#app{
    background-color: #f7faff;
}
#main{
    margin-left: 160px;
}
.navbar-header {
    visibility: hidden;
}
footer{
    visibility: hidden;
}